# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\React Projects\udemiproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
